apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: jupyterhub
    component: minio
  name: minio
  namespace: "{{ namespace }}"
spec:
  replicas: 1
  selector:
    app: minio
    deploymentconfig: minio
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: minio
        deploymentconfig: minio
    spec:
      containers:
      - image: minio
        imagePullPolicy: Always
        livenessProbe:
          failureThreshold: 3
          initialDelaySeconds: 3
          periodSeconds: 10
          successThreshold: 1
          tcpSocket:
            port: 9000
          timeoutSeconds: 1
        name: minio
        ports:
        - containerPort: 9000
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          initialDelaySeconds: 3
          periodSeconds: 10
          successThreshold: 1
          tcpSocket:
            port: 9000
          timeoutSeconds: 1
        resources:
          limits:
            cpu: 500m
            memory: 256Mi
          requests:
            cpu: 250m
            memory: 256Mi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /opt/minio/data
          name: minio
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - name: minio
        persistentVolumeClaim:
          claimName: minio
  test: false
  triggers:
  - type: ConfigChange
  #- imageChangeParams:
  #    automatic: true
  #    containerNames:
  #    - minio
  #    from:
  #      kind: ImageStreamTag
  #      name: minio:latest
  #      namespace: "{{ namespace }}"
  #  type: ImageChange
status:
