apiVersion: v1
kind: Service
metadata:
  labels:
    app: jupyterhub
    component: minio
  name: minio
  namespace: "{{ namespace }}"
spec:
  ports:
  - name: 9000-tcp
    port: 9000
    protocol: TCP
    targetPort: 9000
  selector:
    deploymentconfig: minio
  sessionAffinity: None
  type: ClusterIP
status:

