apiVersion: v1
kind: Route
metadata:
  labels:
    app: jupyterhub
    component: minio
  name: minio
  namespace: "{{ namespace }}"
spec:
  port:
    targetPort: 9000-tcp
  to:
    kind: Service
    name: minio
    weight: 100
  wildcardPolicy: None
status:
