apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minio
  namespace: "{{ namespace }}"
  annotations:
{% if storage_class %}
     volume.beta.kubernetes.io/storage-class: "{{ storage_class }}"
{% endif %}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
status:

