apiVersion: v1
kind: ImageStream
metadata:
  labels:
    app: jupyterhub
    component: minio
  name: minio
  namespace: "{{ namespace }}"
spec:
  lookupPolicy:
    local: true
  tags:
  - annotations:
      openshift.io/imported-from: quay.io/vpavlin/minio
    from:
      kind: DockerImage
      name: quay.io/vpavlin/minio
    generation: 2
    importPolicy: {}
    name: latest
    referencePolicy:
      type: Source
status:
