apiVersion: v1
kind: ServiceAccount
metadata:
  name: spark-operator
  labels:
    app: jupyterhub
    component: spark-operator
  namespace: "{{ namespace }}"
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: edit-resources
  labels:
    app: jupyterhub
    component: spark-operator
  namespace: "{{ namespace }}"
rules:
- apiGroups: [""]
  resources: ["pods", "replicationcontrollers", "services", "configmaps"]
  verbs: ["create", "delete", "deletecollection", "get", "list", "update", "watch", "patch"]
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: RoleBinding
metadata:
  name: spark-operator-edit-resources
  labels:
    app: jupyterhub
    component: spark-operator
  namespace: "{{ namespace }}"
roleRef:
  kind: Role
  name: edit-resources
  apiGroup: ""
subjects:
  - kind: ServiceAccount
    name: spark-operator
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: spark-operator
  labels:
    app: jupyterhub
    component: spark-operator
  namespace: "{{ namespace }}"
  labels: &default-labels
    app.kubernetes.io/name: spark-operator
    app.kubernetes.io/version: v0.1.5-v1alpha1
spec:
  replicas: 1
  selector:
    matchLabels: *default-labels
  strategy:
    type: Recreate
  template:
    metadata:
      labels: *default-labels
    spec:
      serviceAccountName: spark-operator
      containers:
      - name: spark-operator
        image: radanalyticsio/spark-operator:latest-released
        #env:
        #- name: WATCHED_NAMESPACE
        #  value: myproject
        imagePullPolicy: IfNotPresent
        resources:
        limits:
          cpu: 500m
          memory: 600Mi
        requests:
          cpu: 500m
          memory: 600Mi
